<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/home-banner.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">
                        <b>fit</b>Food</h1>
                </div>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by
            <a href="https://www.linkedin.com/in/zaconou" target="_blank">
                João Mago
            </a>e
            <a href="https://www.linkedin.com/in/pedrohqesilva" target="_blank">
                Pedro Silva
            </a>
        </h6>
    </div>
    <div class="main">
        <div class="section section-nucleo-icons">
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <div class="container-fluid">
                <!-- <app-listagem-itens></app-listagem-itens> -->
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h3 class="title">
                            <b>O fitFood é o maior vendedor de marmita fitness do Brasil!</b>
                        </h3>
                        <p class="description">
                            Começar um projeto de vida saudável é uma tarefa difícil, mas não impossível. Com alguns
                            ajustes na rotina, é possível se
                            livrar dos hábitos ruins e chegar lá! E para te ajudar nesta jornada, existe o fitFood!
                            <br> Deixar hábitos para trás, como comer de forma desregrada e ser sedentária, não é a
                            missão mais
                            fácil do mundo. E para ajudar você nessa missão, temos planos mensais personalizados com
                            pratos
                            fundamentais para você reeducar a alimentação e, o mais importante, de forma contínua e
                            definitiva.
                            E tudo isso sem precisar sair de casa!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-image section-login" style="background-image: url('assets/img/login-image.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                        <div class="card card-register">
                            <h3 class="title">Bem vindo!</h3>
                            <form class="register-form">
                                <label>Email</label>
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>

                                <label>Senha</label>
                                <div class="input-group form-group-no-border">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-key-25"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Password">
                                </div>
                                <button class="btn btn-danger btn-block btn-round">Cadastre-se</button>
                            </form>
                            <div class="forgot">
                                <a href="#" class="btn btn-link btn-danger">Esqueci minha senha!</a>
                            </div>
                        </div>
                        <div class="col text-center" routerLinkActive="active">
                            <a [routerLink]="['/signup']" class="btn btn-outline-neutral btn-round btn-lg">Registre-se!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Criado para atender o seu gosto</h2>
                        <p class="description">Possuimos pratos com o melhor da gastronomia fit, de vários países.
                            Venha experimentar!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>